* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* reset margin padding */
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero,
.footer {
    background: #1f2937;
    color: #f9faf8;
}

/* hero section */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    width:200px;
    display: flex;
    justify-content: space-around;
}
.links a {
    text-decoration: none;
}

.hero p,
.links a {
    font-size: 18px;
    color: #e5e7eb;
}

.logo img {
    width: auto;
    height: 70px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.intro {
    width: 400px;
}

.intro button {
    margin-top: 10px;
    width: 80px;
    background: #3882f6;
    border-style: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
}

/* end hero section */
.info {
    text-align: center;
}

.quote {
    background: #e5e7eb;
}

.signin {}

.footer {
    text-align: center;
}